<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-outline-secondary mb-3">
        <div class="card-header">
          <div class="employee-name pull-left">
            <img class="employee-profile-widget" src="assets/mike.jpg" alt="Mike"> {{employee}}
          </div>
          <div class="pay-period pull-right">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> This Pay Period
          </div>
        </div>
        <div class="card-block text-center">
          <h4 class="card-title">Graph goes here</h4>

          <p class="card-text">Punctuality message</p>

          <!--<tanda-table-directive data-src="getTableData(data, settings, cb)" data-cols="cols" data-options="tableOptions" data-table="shiftsTable">
          </tanda-table-directive>-->
        </div>
        <div class="card-footer text-muted">
          ...
        </div>
      </div>
      <table id="employeeShiftsTable" tanda-table-directive data-src="getTableData(data, settings, cb)" data-cols="cols" data-options="tableOptions"
        data-table="shiftsTable">
      </table>
    </div>
  </div>
</div>