<div class="container" ng-controller="MainCtrl">
  <div class="col-md-12">
    <div class="row">
      <h3>Your Employees</h3>
    </div>
    <div class="row">
      <div class="card-deck">
        <div class="card employee-card">
          <img class="card-img-top employee-card-profile" src="assets/mike.jpg" alt="Mike">
          <div class="card-block">
            <h4 class="card-title">Mike</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a ui-sref="app.main.employee" class="btn btn-primary">Check Mike's punctuality</a>
          </div>
        </div>
        <div class="card employee-card">
          <img class="card-img-top employee-profile" src="assets/sarah.jpg" alt="Sarah">
          <div class="card-block">
            <h4 class="card-title">Sarah</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a ui-sref="app.main.employee" class="btn btn-primary disabled">Check Sarah's punctuality</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p>{{welcome}}</p>
      <div>Add description of challenge, any assumptions, extra features etc</div>
    </div>
  </div>
</div>