.employee-card {
  width: 16em;
}

.employee-card-profile {
  width: 100%;
  height: 50%;
  border-radius: 50%;
  padding: 1.5em;
}

.employee-profile-widget {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

#employeeShiftsTable {
  width: 100%;
}

tr >
.time-comment {
  cursor: pointer;
}

.stats-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
  max-width: 630px;
}

.stat-card {
  padding: .8em;
  border-radius: 2px;
  border: lightgray 2px solid;
  width: 200px;
  color: darkgray;
  font-weight: bold;
  font-size: 1rem;
}

.stat-msg {
  float: left;
  text-transform: uppercase;
}

.stat-value {
  color: black;
  float: right;
}
.punctual-msg {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: .2em;
  margin-bottom: 1.2em;
}